body{
    font-family: cursive,'Trebuchet MS','Lucida Sans Unicode','Lucida Grande','Lucida Sans',Arial,sans-serif ;
}

.main-color{
    background-color: rgb(114,2, 114) !important;
}

.banner{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(home2.jpg);
    background-size: cover;
    background-position: center;
}

.hovered-card{
    transition: 0,3s;
}

.hovered-card:hover{
    transform: scale(1.1);
}
.icon-service{
    width: 90px;
    height: 90px;
    border: solid #fff 2px;
    border-radius: 50%;
    color: #fff
    ;
}
.content-subscriber{
    background-color: rgba(0,0,0,0.8);
}

.banner-produk{
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(home2.jpg);
    background-size: cover;
    background-position: center;
}

.banner-promo{
    height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(home2.jpg);
    background-size: cover;
    background-position: center;
}

